<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="register()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="name"
        name="name"
        required
        autocomplete="name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        autocomplete="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autocomplete="new-password"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      color="primary"
      class="ion-margin-top"
    >
      Registrarse
    </ion-button>
  </form>

  <ion-button expand="block" routerLink="/login" fill="clear" color="medium">
    ¿Ya tienes una cuenta? Inicia sesión
  </ion-button>
</ion-content>
