<ion-header>
  <ion-toolbar>
    <ion-title>Mi Calendario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Texto de bienvenida -->
  <header class="welcome-text">¡Qué bueno verte!</header>

  <!-- Selector de fecha -->
  <ion-datetime
    presentation="date"
    [value]="selectedDate"
    (ionChange)="onDateSelect($event)"
    [highlightedDates]="highlightedDates"
  >
    <div slot="title">Selecciona una fecha</div>
  </ion-datetime>

  <!-- Botones -->
  <div class="button-group">
    <ion-button
      expand="block"
      color="primary"
      routerLink="/form"
      class="custom-button"
    >
      Añadir entrada
    </ion-button>

    <ion-button
      expand="block"
      color="secondary"
      routerLink="/visualizar"
      class="custom-button"
    >
      Ver Mis Entradas
    </ion-button>
  </div>
</ion-content>
