<ion-header>
  <ion-toolbar>
    <ion-title>Mi Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h1 class="welcome-text">¡Qué bueno verte!</h1>
  </div>

  <div class="calendar-wrapper">
    <ion-datetime
      [locale]="locale"
      presentation="date"
      [value]="selectedDate"
      (ionChange)="onDateSelect($event)"
      [highlightedDates]="highlightedDates"
    >
      <div slot="title">Selecciona una fecha</div>
    </ion-datetime>
  </div>

  <div class="button-group">
    <ion-button
      expand="block"
      color="primary"
      routerLink="/form"
      class="custom-button"
    >
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Añadir entrada
    </ion-button>

    <ion-button
      expand="block"
      color="secondary"
      routerLink="/visualizar"
      class="custom-button"
    >
      <ion-icon slot="start" name="list-outline"></ion-icon>
      Ver Mis Entradas
    </ion-button>

    <ion-button
      expand="block"
      color="danger"
      (click)="logout()"
      class="custom-button logout-button"
    >
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
