<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tracker">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar entrada de mi día</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="submitEntry()">
    <ion-item>
      <ion-label>Estado de ánimo</ion-label>
      <ion-select [(ngModel)]="entry.mood" name="mood" placeholder="Selecciona">
        <ion-select-option value="feliz">Feliz</ion-select-option>
        <ion-select-option value="triste">Triste</ion-select-option>
        <ion-select-option value="estresado">Estresado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Horas dormidas</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="entry.horas_dormidas"
        name="horas_dormidas"
        placeholder="Ejemplo: 7"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nivel de concentración</ion-label>
      <ion-range
        [(ngModel)]="entry.nivel_focus"
        name="nivel_focus"
        min="0"
        max="10"
      >
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>¿Hiciste ejercicio?</ion-label>
      <ion-toggle [(ngModel)]="entry.ejercicio" name="ejercicio"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary">
      Guardar
    </ion-button>
  </form>
</ion-content>
